<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home 
      <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/fragrance">Fragrances</a>
      <a class="navbar-text nav-link" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Cart</a>
    </div>
  </div>
</nav>