<head>
	<meta charset="UTF-8">
	<title>CHANEL Official: Fragrance</title>

	<!-- Meta SEO -->

    <meta name="description" content="Entrez dans le monde de CHANEL et découvrez les Parfums.">
    <meta name="keywords" content="CHANEL, Parfums, Luxe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Vincent Rouillard">

    <!-- META à utiliser en cas de partage sur les réseaux sociaux
    
    <meta property="og:site_name" content="CHANEL">
    <meta property="og:title" content="CHANEL Official: Fragrance">
    <meta property="og:description" content="Entrez dans le monde de CHANEL et découvrez les toutes Parfums.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:domain" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:maxage" content="720">
    <meta name="twitter:title" content="CHANEL">
    <meta name="twitter:image" content="">

    <meta property="fb:admins" content="">
    <meta property="fb:app_id" content="">
    <meta property="twitter:account_id" content="">
	-->

	<!-- CSS & JS -->
    
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!--<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>-->
</head>