<div class="container-fluid footer">
    <section class="row">
        <div class="col-sm-12">
            <p>© Vincent Rouillard 2018 All Rights Reserved | Powered with node & express</p>
            <ul>
                <li><a href="#">CONTACT</a></li>
                <li>-</li>
                <li><a href="#">LEGAL STATEMENT</a></li>
                <li>-</li>
                <li><a href="#">PRIVACY POLICY</a></li>
            </ul>
        </div>
    </section>
</div>