/* GLOBAL */

body {
    height: 100%;
}

.application {
    margin-top:55px;
    margin-bottom: 109px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

/* MENU */

.navbar-dark .navbar-nav .nav-link:hover {
    color:#fffb95;
}

.title a {
    font-size: 72px;
    color:#000000;
    text-decoration: none;
}

/* CARD LIST */

.products-list >div {
    margin-top: 20px;
}

.products-list .card {
    height: 100%;
}

.products-list .card-block .btn {
    background-color: #343a40;
}
.products-list .card-block a {
    color:#ffffff;
}

.products-list .card-block a:hover {
    color:#fffb95;
}

/* PRODUCT */

.product .card {
    flex-direction: row;
    height: 100%;
    margin-top:20px;
    margin-bottom:20px;
}

.product .card-block .btn {
    background-color: #343a40;
}
.product .card-block a {
    color:#ffffff;
}

.product .card-block a:hover {
    color:#fffb95;
}

/* FOOTER */

.footer {
    background-color: #343a40;
    position: fixed;
    bottom:0px;
    padding-top:10px;
}
.footer p {
    display: inline-block;
    color:#999999;
    font-size: 12px;
    padding-top:5px;
}
.footer ul {
    display: inline-block;
    float:right;
    padding-left:0px;
}
.footer ul li {
    font-size: 12px;
    display: inline-block;
    list-style-type: none;
    color:#999999;
}
.footer ul li a {
    color:#999999;
}
.footer ul li a:hover {
    color:#fffb95;
}

/* RESPONSIVE */

@media (max-width: 992px) {
    .footer p {
        text-align: center;
        display: block;
    }
    .footer ul {
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 267px;
    }
}