{% include 'includes/include_header.twig' %}
<body>
    {% include 'includes/include_menu.twig' %}
    <div class="container application" role="application">
        <section class="row row-eq-height products-list">
            <div class="col-sm-12">
                <h3>Product {{ product.name }} successfully bought</h3>
            </div>
        </section>
    </div>
    {% include 'includes/include_footer.twig' %}
</body>