{% include 'includes/include_header.twig' %}
<body>
    {% include 'includes/include_menu.twig' %}
    <div class="container-fluid application">
        <section class="row">
            <div class="col-sm-12">
                <h1 class="title text-center text-dark"><a href="/home">CHANEL</a></h1>
            </div>
        </section>
    </div>
    {% include 'includes/include_footer.twig' %}
</body>