{% include 'includes/include_header.twig' %}
<body>
    {% include 'includes/include_menu.twig' %}
    <div class="container application" role="application">
        <section class="row row-eq-height products-list">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card">
                      <img class="card-img-top" src="/img/{{ product.image }}" alt="fragrance picture">
                      <div class="card-block">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">{{ product.description }}</p>
                        <a class="btn" href="fragrance/product/{{ product.id }}" title="View more">
                            View More
                        </a>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
    {% include 'includes/include_footer.twig' %}
</body>