{% include 'includes/include_header.twig' %}
<body>
    {% include 'includes/include_menu.twig' %}
    <div class="container product application" role="application">
        <section class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="col-sm-4">
                        <img class="card-img" src="/img/{{ product.image }}" alt="fragrance picture">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <h4 class="card-title">{{ product.name }}</h4>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><small class="text-muted">Stock level: {{ product.stock }}</small></p>
                            <a class="btn" href="/cart/{{ product.id }}">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'includes/include_footer.twig' %}
</body>